{% extends 'base.html' %} 
{% block content %}
<div class="detail__page">
    <div class="detail__image">
        <img class = "movie_image" src="{{movie.image}}" alt="{{movie.name}}" />
    </div>
    <div class="detail__container">
        <div class="buttons detail_buttons">
            <a href="{% url 'movie_update' movie.pk %}" class="button is-info edit_button">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
        <div class="detail__about">
            <h3 class="title is-3 movie_name">{{movie.name}}</h3>
            <h6 class="title is-6 movie_date">Released: {{movie.release_date}}</h6>
            <p class="movie-synopsis">{{movie.synopsis}}</p>
        </div>
    </div>
</div>

{% endblock %}