{% extends 'base.html' %} 
{% block content %}
<div class="detail__page">
    <div class="detail__image">
        <img class = "movie_image" src="{{movie.image}}" alt="{{movie.name}}" />
    </div>
    <div class="detail__container">
        <div class="detail__about">
            <h3 class="title is-3 movie_name">{{movie.name}}</h3>
            <h6 class="title is-6 movie_date">Released: {{movie.release_date}}</h6>
        </div>
        <div class="buttons detail_buttons">
            <a href="{% url 'movie_update' movie.pk %}" class="button is-info edit_button">
                <span class="icon">
                    <i class="fas fa-edit"></i>
                </span>
            </a>
            <a href="{% url 'movie_delete' movie.pk %}" class="button is-danger">
                <span class="icon">
                    <i class="fas fa-trash-alt"></i>
                </span>
            </a>
        </div>
        <div class="detail__cast">
            <h3 class="title">Cast & Crew</h3>
            <form class="mb-5" action="{% url 'cast_create' movie.pk %}" method="post">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="name"
                            placeholder="Actor"
                            required
                        />
                    </div>
                    <div class="control">
                        <input
                            class="input"
                            type="text"
                            name="role"
                            placeholder="Role"
                            required
                        />
                    </div>
                    <div class="control">
                        <input class="button is-dark" type="submit" value="Add Cast Member" />
                    </div>
                </div>
            </form>
            {% for cast in movie.casts.all %}
            <div class="cast">
                <span>{{cast.name}} - </span>
                <span>{{cast.role}}</span>
                <span>
                    <div class="dropdown">
                      <div class="dropdown-trigger">
                        <button
                          class="button"
                          aria-haspopup="true"
                          aria-controls="dropdown-menu"
                        >
                          <span>Add to Collection</span>
                          <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                          </span>
                        </button>
                      </div>
                      <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                          {% for collection in collections %}
                          {% if collection.user == request.user %}
                          <a
                            href="{% url 'collection_cast_assoc' collection.pk cast.pk %}?assoc=add"
                            class="dropdown-item"
                          >
                            {{collection.title}}
                          </a>
                          {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </span>
            </div>
            {% empty %}
            <article class="notice">
                <div>
                    <p>No Cast & Crew Available</p>
                </div>
            </article>
            {% endfor %}
        </div>
        <p class="movie-synopsis">{{movie.synopsis}}</p>
    </div>
</div>

{% endblock %}