{% extends 'base.html' %}

{% block content %}

<h1 class="title pt-5">Matt's Movie Database</h1>
<a class="button is-dark add-movie-button" href="{% url 'movie_create' %}">Add a Movie</a>
<br><br>
<div class="gallery">
  {% for movie in movies %}
  <a href="{% url 'movie_detail' movie.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{movie.image}}" alt="{{movie.name}}" />
        </figure>
      </div>
      <div class="card-header has-background-danger-dark">
        <p class="card-header-title" style="color:black;">{{movie.name}}</p>
      </div>
    </div>
  </a>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Movies Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}